ion-item {
    min-width: 150px;
    border: 1px solid var(--ion-color-primary);
    border-radius: 10px;
}

.flex-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
