ion-col {
    padding: 3px;
}

ion-item {
    border: 1px solid var(--ion-color-primary);
    border-radius: 10px;
}

ion-select {
    font-weight: bold;
    color: #000;
}

ion-input {
    font-weight: bold;
    color: #000;
}

app-date-select {
    width: 100%;
}

.min-width-ion-item2 {
    min-width: 145px;
}

.min-width-ion-item {
    min-width: 210px;
}

.flex-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.flex-item2 {
    min-width: 127px;
    cursor: pointer;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-weight: bold;
    color: #000;
}

.flex-item1-3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-item3 {
    min-width: 254px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-weight: bold;
    color: #000;
}

.space-items {
    margin-left: 10px;
}

@media (max-width: 570px) {
    .flex-item {
        flex-wrap: wrap;
    }
}

.button-trip-type {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    @media (min-width: 576px) {
        height: 64px;
        margin-left: -16px;
        margin-right: -16px;
    }

    @media (max-width: 575px) {
        width: 100%;
        margin-top: -16px;
        margin-bottom: -16px;
    }
}

app-modal-airports {
    width: 100%;
}

.change-origin-destination{
    cursor: pointer;
}
