<ion-grid mode="ios">
  <ion-row>
    <ion-col size="12">
      <div class="flex-item">
        <div class="space-items">
          <ion-select value="idaVuelta" placeholder="Selecciona" interface="popover">
            <ion-select-option value="idaVuelta">Ida y vuelta</ion-select-option>
            <ion-select-option value="soloIda">Solo ida</ion-select-option>
            <ion-select-option value="multiplesDestinos">Multiples destinos</ion-select-option>
            <ion-select-option value="nomad">Nomad</ion-select-option>
          </ion-select>
        </div>
        <div class="space-items">
          <ion-select value="economica" placeholder="Clase" interface="popover">
            <ion-select-option value="economica">Clase económica</ion-select-option>
            <ion-select-option value="premium">Clase premium</ion-select-option>
            <ion-select-option value="business">Business</ion-select-option>
            <ion-select-option value="primera">Primera clase</ion-select-option>
          </ion-select>
        </div>
        <div (click)="selectPasajerosComponent.presentPopover($event)" class="flex-item2 space-items">
          <ion-icon slot="start" name="people" color="dark" size="small" style="margin-right: 5px;"></ion-icon>
          <ion-text> {{glbService.totalPassengers}} pasajero(s) </ion-text>
          <ion-icon name="chevron-expand" size="small" color="dark"></ion-icon>
          <app-select-pasajeros></app-select-pasajeros>
        </div>
        <div (click)="selectEquipajeComponent.presentPopover($event)" class="flex-item2 space-items">
          <ion-icon slot="start" name="bag" color="dark" size="small" style="margin-right: 5px;"></ion-icon>
          <ion-text> {{glbService.totalBags}} maleta(s) </ion-text>
          <ion-icon name="chevron-expand" size="small" color="dark"></ion-icon>
          <app-select-equipaje></app-select-equipaje>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="min-width-ion-item">
      <ion-item lines="none" class="ion-text-center">
        <ion-input labelPlacement="floating" type="text" placeholder="Ciudad" debounce="100"
          [(ngModel)]="glbService.searchFrom"
          (ionInput)="popoverAirportsComponent.airportSearch($event,'from')">
          <div slot="label" style="font-weight: lighter;">Origen</div>
        </ion-input>
      </ion-item>
    </ion-col>
    <ion-col class="min-width-ion-item">
      <ion-item lines="none" class="ion-text-center">
        <ion-input labelPlacement="floating" type="text" placeholder="Ciudad" debounce="100"
          [(ngModel)]="glbService.searchTo"
          (ionInput)="popoverAirportsComponent.airportSearch($event,'to')">
          <div slot="label" style="font-weight: lighter;">Destino</div>
        </ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="min-width-ion-item">
        <app-date-select label="Salida" ref="datetime1"></app-date-select>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="min-width-ion-item">
        <app-date-select label="Regreso" ref="datetime2"></app-date-select>
      </ion-item>
    </ion-col>
    <ion-col> 
      <ion-button fill="outline" shape="round" mode="ios" (click)="explorar()">
        Explorar
      </ion-button>
    </ion-col>
    <app-popover-airports></app-popover-airports>
  </ion-row>
</ion-grid>