<ion-grid mode="ios">
  <ion-row>
    <ion-col size="12">
      <div class="flex-item">
        <div class="space-items">
          <ion-select [(ngModel)]="glbService.trips" placeholder="Selecciona" interface="popover" (ionChange)="change()">
            <ion-select-option value="idaVuelta">Ida y vuelta</ion-select-option>
            <ion-select-option value="soloIda">Solo ida</ion-select-option>
          </ion-select>
        </div>
        <div class="space-items">
          <ion-select [(ngModel)]="glbService.clase" placeholder="Clase" interface="popover" (ionChange)="change()">
            <ion-select-option value="M">Clase económica</ion-select-option>
            <ion-select-option value="W">Clase premium</ion-select-option>
            <ion-select-option value="C">Business</ion-select-option>
            <ion-select-option value="F">Primera clase</ion-select-option>
          </ion-select>
        </div>
        <div class="flex-item2 space-items">
          <app-select-pasajeros></app-select-pasajeros>
        </div>
        <div class="flex-item2 space-items">
          <app-select-equipaje></app-select-equipaje>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!glbService.firstSearch">
    <ion-col size="12" class="ion-no-padding ion-text-center">
      <div class="flex-item1-3">
        <div class="flex-item3">
          <app-modal-airports label="Origen" show="header"></app-modal-airports>
          <strong class="change-origin-destination" (click)="changeOriginDestination()"><ion-icon name="repeat-outline" size="large" color="primary"></ion-icon></strong>
          <app-modal-airports label="Destino" show="header"></app-modal-airports>
        </div>
        <div class="flex-item3">
          <app-date-select label="Salida" ref="datetime1"></app-date-select>
          <app-date-select label="Regreso" ref="datetime2" *ngIf="glbService.trips=='idaVuelta'"></app-date-select>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="glbService.firstSearch">
    <ion-col class="min-width-ion-item">
      <ion-item lines="none" class="ion-text-center">
        <app-modal-airports label="Origen"></app-modal-airports>
      </ion-item>
    </ion-col>
    <div class="button-trip-type">
      <ion-button size="small" shape="round" class="ion-no-padding" (click)="changeOriginDestination()">
        <strong><ion-icon name="repeat-outline" size="large"></ion-icon></strong>
      </ion-button>
    </div>
    <ion-col class="min-width-ion-item" size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="2,4">
      <ion-item lines="none" class="ion-text-center">
        <app-modal-airports label="Destino"></app-modal-airports>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item lines="none" class="min-width-ion-item">
        <app-date-select label="Salida"> </app-date-select>
      </ion-item>
    </ion-col>
    <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="2,4" *ngIf="glbService.trips=='idaVuelta'">
      <ion-item lines="none" class="min-width-ion-item">
        <app-date-select label="Regreso"></app-date-select>
      </ion-item>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="2,4"> 
      <ion-button fill="solid" shape="round" mode="ios" (click)="searchMainService.explorar()" expand="block" [disabled]="glbService.bookingloading">
        <ion-text *ngIf="!glbService.bookingloading"> Buscar </ion-text>
        <ion-text *ngIf="glbService.bookingloading"> Buscando </ion-text>
        <ion-spinner name="dots" *ngIf="glbService.bookingloading" style="margin-left: 5px;"></ion-spinner>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-right: -18px; margin-bottom: -10px;" *ngIf="!glbService.firstSearch">
  <ion-fab-button size="small" (click)="searchMainService.explorar()" [disabled]="glbService.bookingloading">
    <ion-icon name="reload-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>