<ion-grid mode="ios">
  <ion-row>
    <ion-col size="12">
      <div class="flex-item">
        <div class="space-items">
          <ion-select [(ngModel)]="glbService.trips" placeholder="Selecciona" interface="popover">
            <ion-select-option value="idaVuelta">Ida y vuelta</ion-select-option>
            <ion-select-option value="soloIda">Solo ida</ion-select-option>
            <ion-select-option value="multiplesDestinos">Multiples destinos</ion-select-option>
            <ion-select-option value="nomad">Nomad</ion-select-option>
          </ion-select>
        </div>
        <div class="space-items">
          <ion-select [(ngModel)]="glbService.clase" placeholder="Clase" interface="popover">
            <ion-select-option value="M">Clase económica</ion-select-option>
            <ion-select-option value="W">Clase premium</ion-select-option>
            <ion-select-option value="C">Business</ion-select-option>
            <ion-select-option value="F">Primera clase</ion-select-option>
          </ion-select>
        </div>
        <div (click)="selectPasajerosComponent.presentPopover($event)" class="flex-item2 space-items">
          <ion-icon slot="start" name="people" color="dark" size="small" style="margin-right: 5px;"></ion-icon>
          <ion-text> {{glbService.totalPassengers}} pasajero(s) </ion-text>
          <ion-icon name="chevron-expand" size="small" color="dark"></ion-icon>
          <app-select-pasajeros></app-select-pasajeros>
        </div>
        <div (click)="selectEquipajeComponent.presentPopover($event)" class="flex-item2 space-items">
          <ion-icon slot="start" name="bag" color="dark" size="small" style="margin-right: 5px;"></ion-icon>
          <ion-text> {{glbService.totalBags}} maleta(s) </ion-text>
          <ion-icon name="chevron-expand" size="small" color="dark"></ion-icon>
          <app-select-equipaje></app-select-equipaje>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="min-width-ion-item">
      <ion-item lines="none" class="ion-text-center">
        <ion-input labelPlacement="floating" type="text" placeholder="Ciudad" debounce="100"
          [(ngModel)]="glbService.searchFrom"
          (ionInput)="popoverAirportsComponent.airportSearch($event,'from')">
          <div slot="label" style="font-weight: lighter;">Origen</div>
        </ion-input>
      </ion-item>
    </ion-col>
    <ion-col class="min-width-ion-item" size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="2,4">
      <ion-item lines="none" class="ion-text-center">
        <ion-input labelPlacement="floating" type="text" placeholder="Ciudad" debounce="100"
          [(ngModel)]="glbService.searchTo"
          (ionInput)="popoverAirportsComponent.airportSearch($event,'to')">
          <div slot="label" style="font-weight: lighter;">Destino</div>
        </ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="min-width-ion-item">
        <app-date-select label="Salida" ref="datetime1" (dateSelected)="glbService.dateFrom = $event"></app-date-select>
      </ion-item>
    </ion-col>
    <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="2,4">
      <ion-item class="min-width-ion-item">
        <app-date-select label="Regreso" ref="datetime2" (dateSelected)="glbService.dateTo = $event"></app-date-select>
      </ion-item>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="2,4"> 
      <ion-button fill="solid" shape="round" mode="ios" (click)="explorar()" expand="block">
        Buscar
      </ion-button>
    </ion-col>
    <app-popover-airports></app-popover-airports>
  </ion-row>
</ion-grid>