.label-floating-date {
    font-weight: normal;
    font-size: smaller;
    margin: 5px 0px 0px 0px;
}

.center-content {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important; 
    margin: 0px;
}

.center-content-header {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important; 
    margin: -17px 0px 0px 0px;
}

.text-date-label {
    color: #000;
    font-size: medium;
    font-weight: bold;
}

.text-date-label-header {
    color: #000;
    font-size: medium;
    font-weight: bold;
    max-width: 120px;
    white-space: normal;
}

.content-datetimes {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    @media (max-width: 600px) {
        flex-wrap: wrap;
    }
    overflow-y: auto;
}

ion-datetime {
    border-radius: 10px;
    margin-top: 5px;
}

.datetime-box{
    border: 2px solid var(--ion-color-primary);
    border-radius: 10px;
    margin: 2px;
    padding-top:5px
}

p{
    margin: 10px 0px 5px 0px;
}

.button-box{
    display: flex;
    /* justify-content:flex-end; */
    justify-content:space-between;
}

.main-button{
    width: 100%;
}