<div class="item-select" (click)="presentPopover($event)">
  <ion-icon slot="start" name="bag" color="dark" size="small" style="margin-right: 5px;"></ion-icon>
  <ion-text> {{glbService.totalBags}} maleta(s) </ion-text>
  <ion-icon name="chevron-expand" size="small" color="dark"></ion-icon>
</div>
<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
  <ng-template>
    <ion-content>
      <ion-header>
        <ion-toolbar>
          <ion-title>Total maletas {{totalBags}} <br><small>(máximo {{maxBags}})</small></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-list>
        <ion-item lines="full">
          <ion-label>
            <ion-icon name="bag-handle-outline"></ion-icon>
            Piezas de equipaje de mano
          </ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="decrement('hand')">
              <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
            </ion-button>
            <ion-note>{{ bags.hand }}</ion-note>
            <ion-button (click)="increment('hand')" [disabled]="disableAddHandBags">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-item lines="full">
          <ion-label>
            <ion-icon name="bag-check-outline"></ion-icon>
            Piezas de equipaje facturado
          </ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="decrement('hold')">
              <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
            </ion-button>
            <ion-note>{{ bags.hold }}</ion-note>
            <ion-button (click)="increment('hold')" [disabled]="disableAddHoldBags">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
      <ion-button expand="block" mode="ios" (click)="accept()">Aceptar</ion-button>
    </ion-content>
  </ng-template>
</ion-popover>