<ion-card mode="ios" class="fly-card">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="9">
        <ion-grid class="ion-no-padding grid-routes">
          <ion-row class="route-border-top">
            <ion-col size="12">
              <ion-text> <strong>Ida</strong> </ion-text>
            </ion-col>
            <ion-col size="4">
              <div class="column-fly-data">
                <h4>{{ flight.itineraries[0].segments[0].departure.iataCode }}→</h4>
                <!-- <div>{{ formatDateTime(flight.local_departure, 'EEE dd/MM') }}</div> -->
                <div>{{ flight.itineraries[0].segments[0].departure.at }}</div>
                <!-- <div>{{ formatDateTime(flight.local_departure, 'HH:mm') }}</div> -->
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="column-fly-data">
                <div style="display: flex;">
                  <ion-text class="chip"
                    [ngClass]="{'chip-primay': getScales('outbound') === 0, 'chip-light': getScales('outbound') !== 0}">
                    {{ getScales('outbound') === 0 ? 'Directo' : getScales('outbound') + (getScales('outbound') === 1 ?
                    ' escala' : ' escalas') }}
                  </ion-text>
                  <ion-text class="chip chip-secondary">
                    {{getAirlineArray(0)}}
                  </ion-text>
                </div>
                <div>
                  <!-- {{ formatDuration(flight.itineraries[0].duration) }} -->
                  {{ (flight.itineraries[0].duration).split('PT')[1] }}
                </div>
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="column-fly-data">
                <h4>→{{ flight.itineraries[0].segments[(flight.itineraries[0].segments.length)-1].arrival.iataCode }}</h4>
                <div>{{ flight.itineraries[0].segments[(flight.itineraries[0].segments.length)-1].arrival.at }}</div>
                <!-- <div>{{ formatDateTime(flight.local_arrival, 'HH:mm') }}</div> -->
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="route-border" *ngIf="glb.trips=='idaVuelta'">
            <ion-col size="12">
              <ion-text> <strong>Regreso</strong> </ion-text>
            </ion-col>
            <ion-col size="4">
              <div class="column-fly-data">
                <h4>{{ flight.itineraries[1].segments[0].departure.iataCode }}→</h4>
                <div>{{ flight.itineraries[1].segments[0].departure.at }}</div>
                <!-- <div>{{ getSegmentTime(1, 'local_departure', 'EEE dd/MM') }}</div> -->
                <!-- <div>{{ getSegmentTime(1, 'local_departure', 'HH:mm') }}</div> -->
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="column-fly-data">
                <div style="display: flex;">
                  <ion-text class="chip"
                    [ngClass]="{'chip-primay': getScales('return') === 0, 'chip-light': getScales('return') !== 0}">
                    {{ getScales('return') === 0 ? 'Directo' : getScales('return') + (getScales('return') === 1 ? '
                    escala' : ' escalas') }}
                  </ion-text>
                  <ion-text class="chip chip-secondary">
                    {{getAirlineArray(1)}}
                  </ion-text>
                </div>
                <div>
                  {{ (flight.itineraries[1].duration).split('PT')[1] }}
                </div>
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="column-fly-data">
                <h4>→{{ flight.itineraries[1].segments[(flight.itineraries[0].segments.length)-1].arrival.iataCode }}</h4>
                <div>{{ flight.itineraries[1].segments[(flight.itineraries[0].segments.length)-1].arrival.at }}</div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="info">
            <ion-col class="ion-text-center">
              <div>
                <!-- <strong>Duración:</strong> {{ formatDuration((flight.itineraries[0].duration).split('PT')[1], (flight.itineraries[0].duration).split('PT')[1]) }} -->
              </div>
            </ion-col>
            <!-- <ion-col class="ion-text-center">
              <div>
                <strong>Incluido:</strong> {{ flight.baglimit.hold_weight }} kg equipaje
              </div>
            </ion-col> -->
            <ion-col class="ion-text-center">
              <div>
                <strong>Asientos:</strong> {{ flight.numberOfBookableSeats }} disponible(s)
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size-xs="12" size-sm="3" class="price-column">
        <div class="flight-price">
          <p>{{ flight.price.total | currency:'$':'symbol':'1.0-0' }}</p>
          <ion-button expand="block" mode="ios">Reservar</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>