ion-card {
  border-radius: 10px;
  color: #000;
}

// Estilos para la sección de precios
.flight-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: bold;
    font-size:  1.2rem;
    color: #000;
    margin: 5px;
  }
  ion-button {
    --background: var(--ion-color-success);
    margin: 5px;
  }
}

// Estilos para datos de vuelo
.column-fly-data {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

// Estilos para el encabezado de cada sección
h4 {
  margin: 0;
}

// Ajustes de margen para rutas, eliminando el padding predeterminado
.grid-routes {
  margin: 0 0 0 5px;
}

// Estilos aplicados a las filas para bordes superiores e inferiores
.route-border-top, .route-border {
  border-top: 1px solid lightgray;
}

.route-border {
  border-bottom: 1px solid lightgray;
}

// Estilo específico para la columna de precio, si es necesario
.price-column {
  border-top: 1px solid lightgray;
}

.info{
    margin: 5px 0px 5px 0px;
    div{
        margin: 0px 3px 0px 3px;
    }
}