<ion-card mode="ios" class="fly-card">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="9">
        <ion-grid class="ion-no-padding grid-routes">
          <ion-row class="route-border-top">
            <ion-col size="12">
              <ion-text> <strong>Ida</strong> </ion-text>
            </ion-col>
            <ion-col size="4">
              <div class="column-fly-data">
                <h4>{{ (glb.iataToName(flight.ida.flightDetails[0].flightInformation[0].location[0].locationId[0])).city }}-{{ flight.ida.flightDetails[0].flightInformation[0].location[0].locationId[0] }}→</h4>
                <div>{{ (glb.iataToName(flight.ida.flightDetails[0].flightInformation[0].location[0].locationId[0])).airport }}</div>
                <div>
                  {{ convertToDate(flight.ida.flightDetails[0].flightInformation[0].productDateTime[0].dateOfDeparture[0]) | date:'EEE dd/MM' }}
                  <!-- {{ formatDateTime((flight.itineraries[0].segments[0].departure.at).replace('T', ' '), 'EEE dd/MM') }} -->
                </div>
                <div>
                  {{ convertToTime(flight.ida.flightDetails[0].flightInformation[0].productDateTime[0].timeOfDeparture[0]) | date:'EEE HH:mm' }}
                  <!-- {{ formatDateTime((flight.itineraries[0].segments[0].departure.at).replace('T', ' '), 'HH:mm') }} -->
                </div>
              </div>
            </ion-col>
            <ion-col size="4">
              <!-- <div id="itinerary-departure-{{flight.id}}" class="column-fly-data"> -->
              <div class="column-fly-data">
                <div class="segment-info">
                  <!-- <ion-text class="chip chip ion-text-center"
                    [ngClass]="{'chip-primay': getScales('outbound') === 0, 'chip-light': getScales('outbound') !== 0}">
                    {{ getScales('outbound') === 0 ? 'Directo' : getScales('outbound') + (getScales('outbound') === 1 ?
                    ' escala' : ' escalas') }}
                  </ion-text> -->
                  <!-- <img class="airline-logo" *ngFor="let logo of getAirlineArray(flight.itineraries[0].segments)"
                    title={{logo}} alt={{logo}} src="https://images.kiwi.com/airlines/32x32/{{logo}}.png"> -->
                </div>
                <div>
                  <!-- {{ (flight.itineraries[0].duration).split('PT')[1] }} -->
                </div>
              </div>
              <!-- <ion-popover trigger="itinerary-departure-{{flight.id}}" triggerAction="click">
                <ng-template>
                  <div *ngFor="let segment of flight.itineraries[0].segments; let ind = index;">
                    <h6 *ngIf="ind != 0" style="text-align: center;">
                      Escala {{getScalesTime(flight.itineraries[0].segments[ind-1].arrival.at, flight.itineraries[0].segments[ind].departure.at)}}
                    </h6>
                    <ion-content class="ion-padding">
                      <ion-grid>
                        <ion-row>
                          <ion-col size="2">
                            <img class="airline-logo" title={{segment.carrierCode}} alt={{segment.carrierCode}}
                              src="https://images.kiwi.com/airlines/32x32/{{segment.carrierCode}}.png">
                          </ion-col>
                          <ion-col size="10">
                            Trayecto: {{segment.departure.iataCode}}-{{segment.arrival.iataCode}},
                            {{getStops(segment.stops ? segment.stops : [])}}<br>
                            Vuelo: {{segment.carrierCode}}{{segment.number}}<br>
                            Duración: {{(segment.duration).split('PT')[1]}}<br>
                            Aeronave: {{segment.aircraft.code}}
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-content>
                  </div>
                </ng-template>
              </ion-popover> -->
            </ion-col>
            <ion-col size="4">
              <div class="column-fly-data">
                <h4>→{{ flight.ida.flightDetails[flight.ida.flightDetails.length - 1].flightInformation[0].location[1].locationId[0] }}-{{ (glb.iataToName(flight.ida.flightDetails[flight.ida.flightDetails.length - 1].flightInformation[0].location[1].locationId[0])).city }}</h4>
                <div>{{ (glb.iataToName(flight.ida.flightDetails[flight.ida.flightDetails.length - 1].flightInformation[0].location[1].locationId[0])).airport }}</div>
                <div>
                  {{ convertToDate(flight.ida.flightDetails[0].flightInformation[0].productDateTime[0].dateOfDeparture[0]) | date:'EEE dd/MM' }}
                </div>
                <div>
                  {{ convertToTime(flight.ida.flightDetails[0].flightInformation[0].productDateTime[0].timeOfArrival[0]) | date:'EEE HH:mm' }}
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="route-border" *ngIf="glb.trips=='idaVuelta'">
            <ion-col size="12">
              <ion-text> <strong>Regreso</strong> </ion-text>
            </ion-col>
            <ion-col size="4">
              <div class="column-fly-data">
                <h4>{{ (glb.iataToName(flight.vuelta.flightDetails[0].flightInformation[0].location[0].locationId[0])).city }}-{{ flight.vuelta.flightDetails[0].flightInformation[0].location[0].locationId[0] }}→</h4>
                <div>{{ (glb.iataToName(flight.vuelta.flightDetails[0].flightInformation[0].location[0].locationId[0])).airport }}</div>
                <div>
                  {{ convertToDate(flight.vuelta.flightDetails[0].flightInformation[0].productDateTime[0].dateOfDeparture[0]) | date:'EEE dd/MM' }}
                </div>
                <div>
                  {{ convertToTime(flight.vuelta.flightDetails[0].flightInformation[0].productDateTime[0].timeOfDeparture[0]) | date:'EEE HH:mm' }}
                </div>
              </div>
            </ion-col>
            <ion-col size="4">
              <div>
                <!-- <div id="itinerary-arrival-{{flight.id}}" class="column-fly-data"> -->
                <div class="column-fly-data">
                  <div class="segment-info">
                    <!-- <ion-text class="chip ion-text-center"
                      [ngClass]="{'chip-primay': getScales('return') === 0, 'chip-light': getScales('return') !== 0}">
                      {{ getScales('return') === 0 ? 'Directo' : getScales('return') + (getScales('return') === 1 ? '
                      escala' : ' escalas') }}
                    </ion-text> -->
                    <!-- <img class="airline-logo" *ngFor="let logo of getAirlineArray(flight.itineraries[1].segments)"
                      title={{logo}} alt={{logo}} src="https://images.kiwi.com/airlines/32x32/{{logo}}.png"> -->
                  </div>
                  <div>
                    <!-- {{ (flight.itineraries[1].duration).split('PT')[1] }} -->
                  </div>
                </div>
                <!-- <ion-popover trigger="itinerary-arrival-{{flight.id}}" triggerAction="click">
                  <ng-template>
                    <div *ngFor="let segment of flight.itineraries[0].segments; let ind = index;">
                      <h6 *ngIf="ind != 0" style="text-align: center;">Escala {{getScalesTime(flight.itineraries[1].segments[ind-1].arrival.at, flight.itineraries[1].segments[ind].departure.at)}}</h6>
                      <ion-content class="ion-padding">
                        <ion-grid>
                          <ion-row>
                            <ion-col size="2">
                              <img class="airline-logo" title={{segment.carrierCode}} alt={{segment.carrierCode}}
                                src="https://images.kiwi.com/airlines/32x32/{{segment.carrierCode}}.png">
                            </ion-col>
                            <ion-col size="10">
                              Trayecto: {{segment.departure.iataCode}}-{{segment.arrival.iataCode}},
                              {{getStops(segment.stops ? segment.stops : [])}}<br>
                              Vuelo: {{segment.carrierCode}}{{segment.number}}<br>
                              Duración: {{(segment.duration).split('PT')[1]}}<br>
                              Aeronave: {{segment.aircraft.code}}
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-content>
                    </div>
                  </ng-template>
                </ion-popover> -->
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="column-fly-data">
                <h4>→{{ flight.vuelta.flightDetails[flight.vuelta.flightDetails.length - 1].flightInformation[0].location[1].locationId[0] }}-{{ (glb.iataToName(flight.vuelta.flightDetails[flight.vuelta.flightDetails.length - 1].flightInformation[0].location[1].locationId[0])).city }}</h4>
                <div>{{ (glb.iataToName(flight.vuelta.flightDetails[flight.vuelta.flightDetails.length - 1].flightInformation[0].location[1].locationId[0])).airport }}</div>
                <div>
                  {{ convertToDate(flight.vuelta.flightDetails[0].flightInformation[0].productDateTime[0].dateOfArrival[0]) | date:'EEE dd/MM' }}
                </div>
                <div>
                  {{ convertToTime(flight.vuelta.flightDetails[0].flightInformation[0].productDateTime[0].timeOfArrival[0]) | date:'EEE HH:mm' }}
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="info">
            <ion-col class="ion-text-center">
              <!-- <div>
                <strong>Duración:</strong> {{ formatDuration((flight.itineraries[0].duration).split('PT')[1],
                (flight.itineraries[1].duration).split('PT')[1]) }}
              </div> -->
            </ion-col>
            <!-- <ion-col class="ion-text-center">
              <div>
                <strong>Incluido:</strong> {{ flight.baglimit.hold_weight }} kg equipaje
              </div>
            </ion-col> -->
            <ion-col class="ion-text-center">
              <!-- <div>
                <strong>Asientos:</strong> {{ flight.numberOfBookableSeats }} disponible(s)
              </div> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size-xs="12" size-sm="3" class="price-column">
        <div class="flight-price">
          <p>{{ flight.precio[0].amount[0] | currency:'$':'symbol':'1.0-0' }}</p>
          <p style="font-size: 12px;">Base: {{ flight.precio[0].amount[0] - flight.precio[1].amount[0] | currency:'$':'symbol':'1.0-0' }}<br>Impuestos: {{ flight.precio[1].amount[0] | currency:'$':'symbol':'1.0-0' }}
          </p>
          <ion-button expand="block" mode="ios" (click)="goToBookingOne(flight)">Reservar</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>