<ion-card mode="ios" class="fly-card">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="9">
        <ion-grid class="ion-no-padding grid-routes">
          <ion-row class="route-border-top">
            <ion-col size="12">
              <ion-text> <strong>Ida</strong> </ion-text>
            </ion-col>
            <ion-col size="4">
              <div class="column-fly-data">
                <h4>{{ flight.flyFrom }}→</h4>
                <div>{{ formatDateTime(flight.local_departure, 'EEE dd/MM') }}</div>
                <div>{{ formatDateTime(flight.local_departure, 'HH:mm') }}</div>
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="column-fly-data">
                <div class="segment-info">
                  <ion-text class="chip chip ion-text-center"
                    [ngClass]="{'chip-primay': getScales('outbound') === 0, 'chip-light': getScales('outbound') !== 0}">
                    {{ getScales('outbound') === 0 ? 'Directo' : getScales('outbound') + (getScales('outbound') === 1 ?
                    ' escala' : ' escalas') }}
                  </ion-text>
                  <img class="airline-logo" *ngFor="let logo of getAirlineArray(0)" src="https://content.r9cdn.net/rimg/provider-logos/airlines/v/{{logo}}.png">
                </div>
                <div>
                  {{ formatDuration(flight.duration.departure) }}
                </div>
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="column-fly-data">
                <h4>→{{ flight.flyTo }}</h4>
                <div>{{ formatDateTime(flight.local_arrival, 'EEE dd/MM') }}</div>
                <div>{{ formatDateTime(flight.local_arrival, 'HH:mm') }}</div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="route-border" *ngIf="glb.trips=='idaVuelta'">
            <ion-col size="12">
              <ion-text> <strong>Regreso</strong> </ion-text>
            </ion-col>
            <ion-col size="4">
              <div class="column-fly-data">
                <h4>{{ flight.flyTo }}→</h4>
                <div>{{ getSegmentTime(1, 'local_departure', 'EEE dd/MM') }}</div>
                <div>{{ getSegmentTime(1, 'local_departure', 'HH:mm') }}</div>
              </div>
            </ion-col>
            <ion-col size="4">
              <div>
                <div class="column-fly-data">
                  <div class="segment-info">
                    <ion-text class="chip ion-text-center"
                      [ngClass]="{'chip-primay': getScales('return') === 0, 'chip-light': getScales('return') !== 0}">
                      {{ getScales('return') === 0 ? 'Directo' : getScales('return') + (getScales('return') === 1 ? '
                      escala' : ' escalas') }}
                    </ion-text>
                    <img class="airline-logo" *ngFor="let logo of getAirlineArray(1)" src="https://content.r9cdn.net/rimg/provider-logos/airlines/v/{{logo}}.png">
                  </div>
                  <div>
                    {{ formatDuration(flight.duration.return) }}
                  </div>
                </div>
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="column-fly-data">
                <h4>→{{ flight.flyFrom }}</h4>
                <div>{{ getSegmentTime(1, 'local_arrival', 'EEE dd/MM') }}</div>
                <div>{{ getSegmentTime(1, 'local_arrival', 'HH:mm') }}</div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="info">
            <ion-col class="ion-text-center">
              <div>
                <strong>Duración:</strong> {{ formatDuration(flight.duration.total) }}
              </div>
            </ion-col>
            <ion-col class="ion-text-center">
              <div>
                <strong>Incluido:</strong> {{ flight.baglimit.hold_weight }} kg equipaje
              </div>
            </ion-col>
            <ion-col class="ion-text-center">
              <div>
                <strong>Asientos:</strong> {{ flight.availability.seats }} disponible(s)
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size-xs="12" size-sm="3" class="price-column">
        <div class="flight-price">
          <p>{{ flight.price | currency:'$':'symbol':'1.0-0' }}</p>
          <ion-button expand="block" mode="ios">Reservar</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>