<ion-header>
  <app-header-main></app-header-main>
</ion-header>
<ion-header mode="ios">
  <ion-toolbar class="ion-no-padding">
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="12">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-back-button defaultHref="/"></ion-back-button>
            </ion-buttons>
            <ion-title>Booking-one</ion-title>
          </ion-toolbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed *ngIf="Fare_InformativePricingWithoutPNRResponse" class="ion-no-padding">
    <ion-row class="ion-no-padding" style="margin-top: 15px;" *ngIf="Air_SellFromRecommendation.length > 0">
      <!-- <ion-col size="12" *ngFor="let response of Fare_InformativePricingWithoutPNRResponse" -->
      <ion-col size="12" *ngFor="let response of Fare_InformativePricingWithoutPNRResponse" class="ion-no-padding">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{glbService.iataToName(glbService.flightSelected.ida.flightDetails[0].flightInformation[0].location[0].locationId[0]).city}}
              →
              {{glbService.iataToName(glbService.flightSelected.ida.flightDetails[glbService.flightSelected.ida.flightDetails.length
              - 1].flightInformation[0].location[1].locationId[0]).city}}</ion-card-title>
            <h6>
              {{glbService.iataToName(glbService.flightSelected.ida.flightDetails[0].flightInformation[0].location[0].locationId[0]).airport}}
              ({{glbService.flightSelected.ida.flightDetails[0].flightInformation[0].location[0].locationId[0]}}) →
              {{glbService.iataToName(glbService.flightSelected.ida.flightDetails[glbService.flightSelected.ida.flightDetails.length
              - 1].flightInformation[0].location[1].locationId[0]).airport}}
              ({{glbService.flightSelected.ida.flightDetails[glbService.flightSelected.ida.flightDetails.length -
              1].flightInformation[0].location[1].locationId[0]}})</h6>
            <ion-card-title
              *ngIf="glbService.flightSelected.vuelta">{{glbService.iataToName(glbService.flightSelected.vuelta.flightDetails[0].flightInformation[0].location[0].locationId[0]).city}}
              →
              {{glbService.iataToName(glbService.flightSelected.vuelta.flightDetails[glbService.flightSelected.vuelta.flightDetails.length
              - 1].flightInformation[0].location[1].locationId[0]).city}}</ion-card-title>
            <h6 *ngIf="glbService.flightSelected.vuelta">
              {{glbService.iataToName(glbService.flightSelected.vuelta.flightDetails[0].flightInformation[0].location[0].locationId[0]).airport}}
              ({{glbService.flightSelected.vuelta.flightDetails[0].flightInformation[0].location[0].locationId[0]}}) →
              {{glbService.iataToName(glbService.flightSelected.vuelta.flightDetails[glbService.flightSelected.vuelta.flightDetails.length
              - 1].flightInformation[0].location[1].locationId[0]).airport}}
              ({{glbService.flightSelected.vuelta.flightDetails[glbService.flightSelected.vuelta.flightDetails.length -
              1].flightInformation[0].location[1].locationId[0]}})</h6>
            <!-- <ion-card-title color="success">$ {{response.fareInfoGroup[0].fareAmount[0].otherMonetaryDetails[0].amount[0] | number:'1.0-0'}}</ion-card-title> -->
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle
              *ngFor="let traveller of Fare_InformativePricingWithoutPNRResponse[0].pricingGroupLevelGroup"
              style="width: 100%;">
              <ion-chip color="primary" mode="ios" style="width: 100%;">
                <ion-text
                  *ngIf="traveller.numberOfPax[0].segmentControlDetails[0].quantity[0] == 1">Adultos:<br>{{traveller.fareInfoGroup[0].fareAmount[0].otherMonetaryDetails[1].amount[0]
                  | currency:'$ ':'symbol':'1.0-0'}} x
                  {{traveller.numberOfPax[0].segmentControlDetails[0].numberOfUnits[0]}}<br>
                  Total: {{(traveller.fareInfoGroup[0].fareAmount[0].otherMonetaryDetails[1].amount[0] *
                  traveller.numberOfPax[0].segmentControlDetails[0].numberOfUnits[0]) | currency:'$ ':'symbol':'1.0-0'}}
                </ion-text>
                <ion-text
                  *ngIf="traveller.numberOfPax[0].segmentControlDetails[0].quantity[0] == 2">Niños:<br>{{traveller.fareInfoGroup[0].fareAmount[0].otherMonetaryDetails[1].amount[0]
                  | currency:'$ ':'symbol':'1.0-0'}} x
                  {{traveller.numberOfPax[0].segmentControlDetails[0].numberOfUnits[0]}}<br>
                  Total: {{(traveller.fareInfoGroup[0].fareAmount[0].otherMonetaryDetails[1].amount[0] *
                  traveller.numberOfPax[0].segmentControlDetails[0].numberOfUnits[0]) | currency:'$ ':'symbol':'1.0-0'}}
                </ion-text>
                <ion-text
                  *ngIf="traveller.numberOfPax[0].segmentControlDetails[0].quantity[0] == 3">Infantes:<br>{{traveller.fareInfoGroup[0].fareAmount[0].otherMonetaryDetails[1].amount[0]
                  | currency:'$ ':'symbol':'1.0-0'}} x
                  {{traveller.numberOfPax[0].segmentControlDetails[0].numberOfUnits[0]}}<br>
                  Total: {{(traveller.fareInfoGroup[0].fareAmount[0].otherMonetaryDetails[1].amount[0] *
                  traveller.numberOfPax[0].segmentControlDetails[0].numberOfUnits[0]) | currency:'$ ':'symbol':'1.0-0'}}
                </ion-text>
              </ion-chip>
            </ion-card-subtitle>
            <ion-chip color="success" mode="ios" style="width: 100%;">
              <ion-text>Total: {{calculateTotal(Fare_InformativePricingWithoutPNRResponse[0]) | currency:'$
                ':'symbol':'1.0-0'}}</ion-text>
            </ion-chip>
            <ion-button fill="solid" (click)="goToBookingTwo()">
              <ion-text>Reservar</ion-text>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-grid fixed *ngIf="Fare_InformativePricingWithoutPNRResponse.length > 0" class="ion-no-padding">
    <ion-chip color="primary" mode="ios">
      <ion-text>resultados</ion-text>
    </ion-chip>
    <ion-row class="ion-no-padding" style="margin-top: 15px;" *ngIf="glbService.bookingloading">
      <ion-col size="12" *ngFor="let item of [1,2,3,4,5]" class="ion-no-padding" style="margin-top: -40px;">
        <app-booking-skeleton></app-booking-skeleton>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding" style="margin-top: 15px;">
      <ion-col size="12" *ngFor="let booking of glbService.bookingResults" style="margin-top: -40px;"
        class="ion-no-padding">
        <app-booking [flight]="booking"></app-booking>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>