.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-col{
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-card{
    border-radius: 10px;
    width: 500px;
}

.card-title {
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.img-logo {
    height: 100px;
    width: auto;
}