<ion-header>
  <app-header-main></app-header-main>
</ion-header>
<ion-header mode="ios">
  <ion-toolbar class="ion-no-padding">
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="12">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-back-button defaultHref="/"></ion-back-button>
            </ion-buttons>
            <ion-title>Booking-two</ion-title>
          </ion-toolbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid fixed class="ion-no-padding">
    <ion-row class="ion-no-padding" style="margin-top: 15px;">
      <ion-col size="12" class="ion-no-padding">
        <ion-card style="cursor: pointer;">
          <ion-card-header></ion-card-header>
          <ion-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <ion-grid *ngFor="let pax1 of glbService.flightSelected.pax; let i=index;">
                <ion-row class="bill" *ngFor="let pax2 of pax1.paxReference[0].traveller; let j=index;">
                  <ion-col size-md="12" size="12">
                    <h2 class="title-app" *ngIf="pax1.paxReference[0].ptc[0] == 'ADT'">Adulto {{j+1}}</h2>
                    <h2 class="title-app" *ngIf="pax1.paxReference[0].ptc[0] == 'CNN'">Niño {{j+1}}</h2>
                    <h2 class="title-app" *ngIf="pax1.paxReference[0].ptc[0] == 'INF'">Infante {{j+1}}</h2>
                  </ion-col>
                  <ion-col size-md="6" size="6">
                    <ion-item>
                      <ion-input formControlName="{{pax1.paxReference[0].ptc[0]}}-{{j+1}}-name" labelPlacement="floating" color="dark">
                        <div slot="label">Nombre</div>
                      </ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size-md="6" size="6">
                    <ion-item>
                      <ion-input formControlName="{{pax1.paxReference[0].ptc[0]}}-{{j+1}}-surname" labelPlacement="floating" color="dark">
                        <div slot="label">Apellido</div>
                      </ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size-md="6" size="6">
                    <ion-item>
                      <ion-input formControlName="{{pax1.paxReference[0].ptc[0]}}-{{j+1}}-email" type="email" labelPlacement="floating" color="dark">
                        <div slot="label">Correo</div>
                      </ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size-md="6" size="6">
                    <ion-item>
                      <ion-input formControlName="{{pax1.paxReference[0].ptc[0]}}-{{j+1}}-phone" type="tel" labelPlacement="floating" color="dark">
                        <div slot="label">Celular</div>
                      </ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size-md="2" size="2">
                    <ion-item>
                      <ion-input formControlName="{{pax1.paxReference[0].ptc[0]}}-{{j+1}}-type_id" labelPlacement="floating" color="dark">
                        <div slot="label">Tipo</div>
                      </ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size-md="4" size="4">
                    <ion-item>
                      <ion-input formControlName="{{pax1.paxReference[0].ptc[0]}}-{{j+1}}-num_id" labelPlacement="floating" color="dark">
                        <div slot="label">Documento</div>
                      </ion-input>
                    </ion-item>
                  </ion-col>
                  <!-- <ion-col size-md="6" size="6">
                    <ion-item>
                      <ion-label position="floating">Fecha Nac.</ion-label>
                      <ion-date displayFormat="YYYY-MM-DD" formControlName="{{pax1.paxReference[0].ptc[0]}}-birthday-{{j+1}}" color="dark"></ion-date>
                    </ion-item>
                  </ion-col> -->
                  <ion-col size-md="6" size="6">
                    <ion-item>
                      <ion-input formControlName="{{pax1.paxReference[0].ptc[0]}}-{{j+1}}-birthday" type="date" labelPlacement="floating" color="dark">
                        <div slot="label">Fecha Nac.</div>
                      </ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-button class="add-button-form" color="success" type="submit">Agregar</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
