img {
    height: 46px;
    width: 50px;
    padding-right: 4px;
    border-radius: 10px;
}

.btn-iniciar-sesion {
  margin-right: 1em;
}

img {
  cursor: pointer;
}

@media (max-width: 769px) {
    ion-label {
      display: none;
    }
}
